<% content_for :title do %>
    <title>About</title>
<% end %>

<% content_for :top do %>
  <div id="top">
      <div id="top-content">
          <h1 id="large-header">Brandon Bielicki</h1>
          <p id="small-header">Programmer, Web Developer</p>
          <div id="header-buttons">
              <%= link_to '<p>CONTACT</p>'.html_safe, contact_path, {:class=>"hollow-button-white"} %>
              <%= link_to '<p>RESUME</p>'.html_safe, resume_path, {:class=>"hollow-button-white"} %>
          </div>
      </div>
  </div>
<% end %>

<% content_for :main do %>
    <img id="construction" src="<%= asset_url("underConstruction.png") %>">
<% end %>