<% content_for :main do %>
    <div id="nav-bar">
      <div id="timer-container">
        <p id="timer"></p>
      </div>
    </div>
    
    <div id="map"> </div>
    
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVATUIwaa1i_ZdBwp05D1u06d0Qlc1-p4&callback=initMap">
    </script>
<% end %>
