<% content_for :title do %>
    <title>Resume</title>
<% end %>

<% content_for :top do %>  
   
<% end %>

<% content_for :main do %>

    <div id="resume-container">
		<img id="resume-img" src="<%= asset_url("BrandonBielickiResume.jpg") %>">
	</div>    
<% end %>
