#map {
    height: 80vh;
}

#timer-container {
    z-index: 10;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    width: 150px;
    padding: 10px;
    background-color: white;
}
#timer-container input {
    width: 50px;
}
#timer-container p {
    display: inline;
}

#timer {
    float: right;
    display: inline;
    margin: 0px;
}

#bus-menu {
    
}

///////////////////////////////////////////////////////////////////////////////////////

@media (max-width: 700px) {
    
}

@media only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 2000px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 2000px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 2000px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 2000px),
only screen and (                min-resolution: 192dpi) and (max-width: 2000px),
only screen and (                min-resolution: 2dppx)  and (max-width: 1000px) {
    
}
