#contact-container-top {
    width: 100%;
    height: 250px;
    margin-top: 75px;
    margin-bottom: 75px;
}
#contact-info {
    width: 70%;
    height: 100%;
    float: left;
    padding-left: 50px;
}
#contact-info-title h1 {
    margin: 0px;
    font-size: 2em;
    margin-bottom: 20px;
    display: inline-block;
    color: #4a4a4a;
}
#contact-info-content p {
    margin: 2px;
    color: black;
    font-size: 1.25em;
    display: inline-block;
    color: #4a4a4a;
}
#contact-info-resume {
    margin-top: 25px;
}
#contact-info-resume p {
    margin: 0px;
    padding: 5px 20px;
}
#contact-pic {
    width: 30%;
    height: 100%;
    float: left;
    padding-right: 50px;
}
#contact-pic img {
    height: 100%;
    float: right;
}
#contact-note{
    clear: both;
    margin: 0px 50px
}

.hollow-button-black {
    display: inline-block;
	border: 2px solid black;
	transition-property: background-color;
	transition-duration: .1s;
}
.hollow-button-black p {
    text-align: center;
    margin: 2px;
    color: black;
}
.hollow-button-black :hover {
	transition-property: background-color;
	transition-duration: .1s;
	background-color: black;
    color: white;
    text-decoration: none;
}
.hollow-button-black :visited p {
    text-decoration: none;
}

///////////////////////////////////////////////////////////////////////////////////////

@media (max-width: 700px) {
    #contact-pic {
        width: 70%;
        padding: 0px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    #contact-pic img {
        width: 100%;
        height: auto;
        float: none;
    }
    #contact-container-top {
        width: 100%;
        height: auto;
        margin: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #contact-info {
        float: none;
        padding: 0px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 50px;
        text-align: center;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 2000px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 2000px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 2000px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 2000px),
only screen and (                min-resolution: 192dpi) and (max-width: 2000px),
only screen and (                min-resolution: 2dppx)  and (max-width: 1000px) {
    #contact-pic {
        width: 70%;
        padding: 0px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    #contact-pic img {
        width: 100%;
        height: auto;
        float: none;
    }
    #contact-container-top {
        width: 100%;
        height: auto;
        margin: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #contact-info {
        float: none;
        padding: 0px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 50px;
        text-align: center;
    }
    #contact-info h1 {
        font-size: 4em;
    }
    #contact-info p {
        font-size: 2em;
    }
}