/*
##################################################
# Footer
##################################################
*/

#footer-social{
	height: 100px;
	background-color: #191919;
}
#nav-centered {
	text-align: center;
}
#footer-social ul {
	padding: 0px;
	display: inline;
	line-height:100px;
	list-style-type: none;
	margin: 0px;
}
#footer-social li {
	padding-left: 2px;
	padding-right: 2px;
	display: inline;
	font-size: 30px;
}

#footer p {
	margin: 0px;
	padding: 0px;
}

#signature {
    background-color: #121212;
}