/*
##################################################
# Footer
##################################################
*/

#footer-social{
	height: 100px;
	background-color: #191919;
}
#footer a {
    color: grey;
}
#nav-centered {
	text-align: center;
}
#footer-social ul {
	padding: 0px;
	display: inline;
	line-height:100px;
	list-style-type: none;
	margin: 0px;
}
#footer-social li {
	padding-left: 2px;
	padding-right: 2px;
	display: inline;
	font-size: 30px;
}

#footer p {
	margin: 0px;
	padding: 0px;
}

#signature {
    background-color: #121212;
}

///////////////////////////////////////////////////////////////////////////////////////

@media (max-width: 700px) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 2000px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 2000px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 2000px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 2000px),
only screen and (                min-resolution: 192dpi) and (max-width: 2000px),
only screen and (                min-resolution: 2dppx)  and (max-width: 1000px) {
        
}