html {
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body {
	margin-top: 0px;
	padding: 0px;
	//height: 2000px;
    background-color: #eaeaea;
    //height: 100vh;
}
a:visited {
	color: grey;
	text-decoration: none;
}

a {
	color: grey;
	text-decoration: none;
}
p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
#container {
    background-color: white;
	margin-left: auto;
	margin-right: auto;
	min-width: 325px;
    max-width: 1020px; //sets size of page, nav-container needs to be set seperately if position is fixed
    box-shadow: -10px 10px 5px ;
    margin-bottom: 50px;
    padding-top: 50px;
    height: 100%;
    border: 1px solid black;
}





