// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body {
	margin-top: 0px;
	padding: 0px;
	//height: 2000px;
    background-color: #eaeaea;
    //height: 100vh;
}
a:visited {
	color: grey;
	text-decoration: none;
}

a {
	color: grey;
	text-decoration: none;
}
p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
#container {
    background-color: white;
	margin-left: auto;
	margin-right: auto;
	min-width: 325px;
    max-width: 1020px; //sets size of page, nav-container needs to be set seperately if position is fixed
    box-shadow: -10px 10px 5px ;
    margin-bottom: 50px;
    padding-top: 50px;
    height: 100%;
    border: 1px solid black;
}

/*
##################################################
# Nav Bar
##################################################
*/



#social {
	float: left;
	display: inline;
	line-height:50px;
	padding-left: 0px;
	list-style-type: none;
	margin: 0px;
	margin-right: 10px;
}
#social li {
	display: inline;
	font-size: 30px;
}
#nav-menu {
	float: right;
	list-style-type: none;
}
#nav-menu li {
	display: inline;
}

.nav-right {
	font-size: 20px;
	margin: 0px;
	float: right;
	line-height: 50px; 
	padding-right: 15px;
	padding-left: 15px;
	/*visibility: hidden; */
}
#menu-icon {
	visibility: hidden;
	font-size: 30px;
	margin: 0px;
	line-height:50px;

}
.nav-unselected:hover {
	color: white;
	text-decoration: none;
}

.icon {
    margin-top: 0px;
    margin-bottom: 0px;
}
.icon:hover {
    color: white;
}

.nav-selected {
	//border-radius: 10px;
	//background-color: #ffffff;
    text-decoration: underline;
}
.nav-selected a:hover{
	color: #000000;
}
#nav-container {
    max-width: 1020px;
	position: fixed;
	height: 50px;
	top: 0;
	width: 100%;
	background-color: Black;
	border-bottom: 1px solid white;
}
#nav-bar {
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	width: 100%;
	z-index: 100;
	min-width: 310px;
}

#home {
	font-size: 26px;
	margin: 0px;
	float: left;
	line-height: 50px; 
	padding-left: 10px;
	padding-right: 10px;
}

/*
##################################################
# Header
##################################################
*/

#top {
	width: 100%;
	height: 250px;
	background-size: 100%;
	background-image: asset_url("eye.jpg");
	background-position: center;
}

#top-content {
	padding-top: 40px;
	width: 100%;
	height: 300px;
	text-align: center;
}

#small-header {
	font-size: 1.5em;
    font-family: "Texgyrebonum-italic";
	margin: 0px;
	padding: 0px;
    color: white;
}
#large-header {
    font-family: "Texgyrebonum";
	font-size: 5em;
	margin: 0px;
	padding: 0px;
    color: white;
}

#header-buttons {
	margin-top: 15px;
	margin-bottom: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}



/*
##################################################
# Main
##################################################
*/
#contact-container-top {
    width: 100%;
    height: 300px;
    margin-top: 100px;
}
#contact-info {
    width: 70%;
    float: left;
    padding-left: 50px;
}
#contact-info h1 {
    margin: 0px;
    margin-bottom: 10px;
    display: inline-block;
    color: #4a4a4a;
}
#contact-info p {
    margin: 5px;  
    color: black;
    font-size: 1.25em;
    display: inline-block;
    color: #4a4a4a;
}
#contact-pic {
    width: 30%;
    height: 100%;
    float: left;
    padding-right: 50px;
}
#contact-pic img {
    height: 100%;
    float: right;
}
#contact-note{
    clear: both;
}

#main-body {
    //padding-top: 50px;
}
#resume-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
    background-color: #ffffff;	
}
#resume-img {
	width: 100%;
	border: 1px solid black;
}

/*
##################################################
# Footer
##################################################
*/

#footer-social{
	height: 100px;
	background-color: #191919;
}
#nav-centered {
	text-align: center;
}
#footer-social ul {
	padding: 0px;
	display: inline;
	line-height:100px;
	list-style-type: none;
	margin: 0px;
}
#footer-social li {
	padding-left: 2px;
	padding-right: 2px;
	display: inline;
	font-size: 30px;
}

#footer p {
	margin: 0px;
	padding: 0px;
}

#signature {
    background-color: #121212;
}


