/*
##################################################
# Responsive
##################################################
*/

@media (max-width: 700px) {
    
    #top-content {
        padding-top: 45px;
    }

    #large-header {
        font-size: 3em;
    }
    
	#menu-icon {
		visibility: visible;
		float: right;
		margin-right: 15px;
	}
	
	.nav-right {
		visibility: hidden;
	}
	
	#nav-menu {
		clear: both;
		list-style-type: none;
		padding: 0px;
	}
	#nav-menu li {
		display: block;
	}
	.nav-unselected:hover {
		color: grey;
	}

    #nav-menu {
        border-radius: 10px;
    }
    
    #container {
        box-shadow: 0px 0px 0px ;
    }
    
	#top {
		background-size: cover;
		background-repeat: no-repeat;
	}	
}

@media only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 2000px),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 2000px),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 2000px),
    only screen and (        min-device-pixel-ratio: 2)      and (max-width: 2000px),
    only screen and (                min-resolution: 192dpi) and (max-width: 2000px),
    only screen and (                min-resolution: 2dppx)  and (max-width: 1000px) {
            
    #top-content {
        padding-top: 45px;
    }

    #large-header {
        font-size: 3em;
    }
    
	#menu-icon {
		visibility: visible;
		float: right;
		margin-right: 15px;
        font-size: 60px; //////////
        line-height: 100px; //////////
	}
    
    .icon {
        font-size: 60px;
        margin: 0px;
        margin-left: 2px;
        margin-right: 2px;
    }
    
    #nav-container {
        height: 100px;
    }
    
    #nav-bar {
        height: 100px;
    }
    
    #home {
        line-height: 100px;
        font-size: 52px;
    }
    #social {
        line-height: 100px;   
    }
	
	.nav-right {
		visibility: hidden;
	}
	
	#nav-menu {
		clear: both;
		list-style-type: none;
		padding: 0px;
	}
	#nav-menu li {
		display: block;
	}
	.nav-unselected:hover {
		color: grey;
	}

    #nav-menu {
        border-radius: 10px;
    }
    
    #container {
        padding-top: 100px;
        box-shadow: 0px 0px 0px ;
    }
    
	#top {
		background-size: cover;
		background-repeat: no-repeat;
	}
}